body{
	background-color:#E8E8E8;
    font-family:  Arial, Helvetica, sans-serif;
}

h1{
	color: #002699;
	text-align:center;
}
h2{
	color: #002699;
	text-align:center;
}

h3{
	color: #002699;
	text-align:center;
}

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 5px;
	border:0px solid black;
}
/* For mobile phones: */


@media only screen and (max-width: 600px) {
	.col-m-0 {width: 0%;}
	.col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
	.col-s-2-5 {width: 20.82%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
	.col-0-5 {width: 4.16%;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
	.col-2-5 {width: 20.82%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
	.col-7-5 {width: 62.49%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
	.col-9-5 {width: 79.15%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


.alignments {
	text-align: justify; /* For Edge */
    -moz-text-align-last: justify; /* For Firefox prior 58.0 */
    text-align-last: left;

}

ul.squares {
	list-style-type: square ;
	background-color:#F5F5F5;
	padding-left:25px;
}

li.squares {
}